.broker-yaml-editor #save-changes {
  display: none;
}
.broker-yaml-editor #reload-object {
  display: none;
}
.broker-yaml-editor #cancel {
  display: none;
}

.broker-yaml-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
