apiVersion: apps/v1
kind: Deployment
metadata:
  name: activemq-artemis-self-provisioning-plugin
  labels:
    app: activemq-artemis-self-provisioning-plugin
    app.kubernetes.io/component: activemq-artemis-self-provisioning-plugin
    app.kubernetes.io/instance: activemq-artemis-self-provisioning-plugin
    app.kubernetes.io/part-of: activemq-artemis-self-provisioning-plugin
    app.openshift.io/runtime-namespace: activemq-artemis-self-provisioning-plugin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activemq-artemis-self-provisioning-plugin
  template:
    metadata:
      labels:
        app: activemq-artemis-self-provisioning-plugin
    spec:
      containers:
        - name: activemq-artemis-self-provisioning-plugin
          image: registry.redhat.io/amq-broker-8/amq-broker-80-self-provisioning-plugin-rhel9@sha256:d65334823ae59b86be469e5bcc38b5a230b696cdd12856a0533a4c3a4da10de2
          ports:
            - containerPort: 9443
              protocol: TCP
          args: [ "-g", "daemon off;"]
          command:
          - nginx
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
          volumeMounts:
            - name: plugin-serving-cert
              readOnly: true
              mountPath: /var/serving-cert
            - name: nginx-conf
              readOnly: true
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: plugin-serving-cert
          secret:
            secretName: plugin-serving-cert
            defaultMode: 420
        - name: nginx-conf
          configMap:
            name: nginx-conf
            defaultMode: 420
      restartPolicy: Always
      dnsPolicy: ClusterFirst
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
